@font-face {
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(9d6cf710b9ad.ttf) format('truetype');
}
@font-face {
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(3bc7bd80a7a9.ttf) format('truetype');
}
@font-face {
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(d48fc438089e.ttf) format('truetype');
}
@font-face {
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(9f79add41e23.ttf) format('truetype');
}
@font-face {
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(8d813d06fa2e.ttf) format('truetype');
}
@font-face {
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(6c907e93adb4.ttf) format('truetype');
}
